<!DOCTYPE html>
html(lang="zh")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        
        title 台灣摩迪高 | 首頁


    body

        div(id=logo)
            nav
                a(herf="#")
                    img(src="img/banner.jpg",alt="摩迪高 LOGO" class="logo")
                div(class="link")
                    a(href="#") 產品
                    a(href="#") 相關新聞
                    a(href="#") 聯絡我們
                    a(href="#") 關於我們
                

        setion(id="brands")
            a(href="#" class="button">img src="">alt="產品")
            
